@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Festive&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: rgb(33, 33, 33);
}

main{
    width: 70%;
    margin: 0 auto;
}

h2{
    color: rgb(60, 64, 67);
}

.domanda{
    margin: 30px 0;
}

.risposta p{
    margin: 30px 0;
}

ol li{
    margin-left: 50px;
    margin-bottom: 10px;
    padding-left: 15px;
}

ul li{
    margin-left: 100px;
    list-style-type: lower-latin;
}

a{
    text-decoration: none;
    color: rgb(74, 120, 218);
}